.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
auth.toml
*.py[cod]
*$py.class

#dist
.Python
build/
dist/
lib/
lib64/

#reports
*.pytest_cache/*
.python-version
/.python-version

#env
.venv
venv/
.env
*.env
*env
env/
ENV/
env.bak/
venv.bak/

#files
*.pt
*.csv
*xlsx

#ide
.idea
.idea/
.vscode
.editorconfig
